<footer>
    <div>
        <p>
            created by adityadakead
        </p>
        <p style="margin-top: 0;">
            <a href="https://www.instagram.com/adityadakead/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/aditya.dake.9/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/adityadakead" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/aditya-dake-90a0b8221/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </p>
    </div>
</footer>